<form method="post" action="https://requestinfo-qa.asu.edu/routing_form_post">
<ul>
      <li>First: <input type="text" name="firstName" value="foo">*</li>
      <li>Last: <input type="text" name="lastName">*</li>
      <li>Birthdate: <input type="text" name="birthdate"></li>
      <li>Email: <input type="text" name="emailAddress">*</li>
      <li>countryOfCitizenship: <input type="text" name="countryOfCitizenship"> </li>
      <li>veteranStatus: <input type="text" name="veteranStatus"></li>
      <li>countryOfResidence: <input type="text" name="countryOfResidence"> </li>
      <li>addressLine1: <input type="text" name="addressLine1"></li>
      <li>city: <input type="text" name="city"></li>
      <li>state: <input type="text" name="state"></li>
      <li>zip: <input type="text" name="zip" ></li>
      <li>phoneNumber: <input type="text" name="phoneNumber"> </li>
      <li>currentPrevStudent: <input type="text" name="currentPrevStudent"> </li>
      <li>projectedEnrollment: <input type="text" name="projectedEnrollment">*</li>
      <li>collegeOfInterest: <input type="text" name="collegeOfInterest">*</li>
      <li>poiCode: <input type="text" name="poiCode">*</li>
      <li>source_id: <input type="text" name="source_id" value="86"></li>
      <li>online: <input type="text" name="online"></li>
      <li>trackingId: <input type="text" name="trackingId"></li>
      <li>questions: <input type="text" name="questions"></li>
      <li>degreeLevel: <input type="text" name="degreeLevel" value="ugrad"></li>

      <input type="hidden" name="testmode" value="Test">
      <input type="hidden" name="formUrl" value="{{ redirect_back_url }}">
      <input type="hidden" name="source_id" value="86">
      
      <li><input type="submit" value="Submit"></li>
</ul>
    </form>