<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
<script>
    grecaptcha.ready(function () {
        // disable the form if we are missing our site key, as we won't be able to get a
        // reCAPTCHA token without it.
        var siteKey = $.trim('{{ site_key }}');
        if (0 === siteKey.length) {
            $('.asu-rfi-form').before('<p class="alert alert-warning">We\'re sorry, but this form not currently available.</p>');
            $('.asu-rfi-form').fadeTo(0.5, 0.25);
            $('.asu-rfi-form input[type="submit"]').attr('disabled', 'disabled');
        }

        $token = $.trim($('#g-recaptcha-response').val());
        if (0 != $token.length) {
            console.log('A token exists after page load. Removing.');
            $('#g-recaptcha-response').val('');
        }

    });

    /**
     * reCAPTCHA processing on form submit
     */
    $('.asu-rfi-form').submit(function (e) {
        // see if we've already put a token in there
        currentToken = $.trim($('#g-recaptcha-response').val());

        if (currentToken.length != 0) {
            // already have a token, so go ahead and try the submit
            return;
        } else {
            // if nothing is there, call out to Google for a reCAPTCHA token
            e.preventDefault();
            grecaptcha.execute('{{ site_key }}', { action: 'rfi' }).then(function (token) {
                var d = new Date();
                $('#g-recaptcha-response').val(token);
                // submit the form. This WILL trigger our submit() method again, which
                // is why we test for an existing key above - or we'll create an infinite loop
                $('.asu-rfi-form').submit();
            });
        }
    });
</script>